.mobileSelect {
  position: relative;
  opacity: 1;
  z-index: 10000;
  visibility: visible;
}
.mobileSelect .grayLayer {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.mobileSelect .content {
  width: 100%;
  display: block;
  position: fixed;
  z-index: 1000;
  color: black;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  left: 0;
  background: white;
}
.mobileSelect .content .fixWidth {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.mobileSelect .content .fixWidth:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mobileSelect .content .btnBar {
  border-bottom: 1px solid rgba(232, 232, 232, .5);
  font-size: 15px;
  height: 45px;
  position: relative;
  text-align: center;
  line-height: 45px;
}
.mobileSelect .content .btnBar .cancel,
.mobileSelect .content .btnBar .ensure {
  height: 45px;
  width: 55px;
  cursor: pointer;
  position: absolute;
  top: 0;
  color: rgba(42, 144, 215, 1);
}
.mobileSelect .content .btnBar .cancel {
  left: 0;
  color: rgba(42, 144, 215, 1);
}
.mobileSelect .content .btnBar .ensure {
  right: 0;
  color: rgba(42, 144, 215, 1);
}
.mobileSelect .content .btnBar .title {
  font-size: 15px;
}
.mobileSelect .content .panel:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.mobileSelect .content .panel .wheels {
  width: 100%;
  height: 248px;
  overflow: hidden;
}
.mobileSelect .content .panel .wheel {
  position: relative;
  z-index: 0;
  float: left;
  width: 50%;
  height: 248px;
  overflow: hidden;
  -webkit-transition: width 0.3s ease;
  transition: width 0.3s ease;
}
.mobileSelect .content .panel .wheel .selectContainer {
  display: block;
  text-align: center;
  -webkit-transition: -webkit-transform 0.18s ease-out;
  transition: -webkit-transform 0.18s ease-out;
  transition: transform 0.18s ease-out;
  transition: transform 0.18s ease-out, -webkit-transform 0.18s ease-out;
}
.mobileSelect .content .panel .wheel .selectContainer li {
  font-size: 15px;
  color: rgb(153, 153, 153);
  display: block;
  height: 48px;
  line-height: 48px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.mobileSelect .content .panel .wheel .selectContainer .selected{
  font-size:17px ;
  color:#000 ;
  font-family: PingFangSC-Regular;
  font-weight:600px ;
}
.mobileSelect .content .panel .selectLine {
  height: 48px;
  width: 100%;
  position: absolute;
  top: 96px;
  pointer-events: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 1px solid rgba(232, 232, 232, .5);
  border-bottom: 1px solid rgba(232, 232, 232, .5);
}
.mobileSelect .content .panel .shadowMask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 248px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), color-stop(rgba(255, 255, 255, 0)), to(#ffffff));
  background: -webkit-linear-gradient(top, #ffffff, rgba(255, 255, 255, 0), #ffffff);
  background: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0), #ffffff);
  opacity: 0.9;
  pointer-events: none;
}
.mobileSelect-show  .grayLayer {
  display: block;
  opacity: 1;
  visibility: visible;
}
.mobileSelect-show .content {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}
