logs/
npm-debug.log
node_modules/
coverage/
output/
.idea/
run/
.DS_Store
*.swp
*.log
app/ssr/**
!app/ssr/.gitkeep
app/view/fe/**
!app/view/fe/.gitkeep
app/public/static
output_resource/
package-lock.json
.vscode
example/dist